@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Poetsen+One&display=swap');

:root {
    /* Colors */
    --primary-color: #FF914D;
    --secondary-color: #FFF0D9;
    --accent-color1: #FEB37F;
    --accent-color2: #C6723D;
    --black: #000;

    /* Fonts */
    --primary-font: "Livvic", sans-serif;
    --heading-font: "Poetsen One", sans-serif;
}

body {
    margin: 1rem;
    background: var(--secondary-color);
    font-family: var(--primary-font);
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: var(--accent-color2);
    padding: 1rem;
}

header img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    justify-self: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    font-family: var(--heading-font);
    color: var(--black);
    text-decoration: none;
    font-size: 25px;
}

main {
    display: grid;
}

h1 {
    font-family: var(--heading-font);
}

p {
    width: 70%;
    max-width: 60vw;
}

.slideshow-container {
    position: relative;
    margin: 0 5rem;
    width: 70%;
    justify-self: center;
}

.slideshow-container img {
    vertical-align: middle;
    width: 100%;
}

.slides {
    display: none;
}

.prev,
.next {
    position: absolute;
    top: 45%;
    width: auto;
    padding: 15px;
    margin-top: -50px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 40px;
    border-radius: 15px;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background: var(--black, 0.7);
}

.caption-container {
    text-align: center;
    background: var(--primary-color);
    padding: 3px;
    color: var(--secondary-color);
}

#caption {
    max-width: unset;
    width: unset;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    margin-top: 1rem;
    background: var(--accent-color2);

}

footer h4 {
    font-family: var(--heading-font);
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 15px;
    text-align: center;
    margin: 30px;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B7ECD;
    color: #fff;
}

.fa-instagram {
    background: linear-gradient(to top right, #FCD058, #A331C1);
    color: white;
}