@media screen and (min-width:900px) {
    :root {
        /* Colors */
        --primary-color: #FF914D;
        --secondary-color: #FFF0D9;
        --accent-color1: #FEB37F;
        --accent-color2: #C6723D;
        --black: #000;

        /* Fonts */
        --primary-font: "Livvic", sans-serif;
        --heading-font: "Poetsen One", sans-serif;
    }


    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-around;
        grid-column: 2/4;
        flex-direction: row;
    }

    .navigation a {
        display: block;
    }

    .mobile {
        display: grid;
    }

    #main {
        grid-column: 1/2;
        padding-left: 2rem;
    }

    #sidebar {
        grid-column: 2/3;
        padding-right: 1rem;
    }

    .current,
    .forecast {
        float: unset;
        padding: 1rem;
    }

    #contract img {
        width: 30%;
        padding: 1rem;
    }

    .form h6 {
        margin: 0 60% 1rem 5%;
    }

    #contact-info {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr 5fr 5fr;
    }

    #contact-info h4 {
        grid-column: 1/3;
    }

    #contact-info p {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #contact-info img {
        grid-column: 2/3;
        width: 80%;
        padding: 2rem 10%;
        border-radius: 20%;
    }

    iframe {
        grid-column: 1/3;
    }
}