@media screen and (min-width:700px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        height: 90%;
        padding: 1rem;
    }

    #white-space {
        grid-column: 1/3;
        width: 90%;
    }
}