@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Kurale&family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    /* fonts */
    --primary-font: "Alegreya Sans SC", sans-serif;
    --secondary-font: "Mohave", sans-serif;
    --teriary-font: "Kurale", serif;

    /* colors */
    --primary-color: #226452;
    --secondary-color: #FCDF89;
    --accent1-color: #794348;
    --accent2-color: #78C092;
    --accent3-color: #DFE3E2;
}

body {
    background: var(--accent3-color);
}

#switch {
    position: absolute;
    display: inline-block;
    top: 1rem;
    right: 1rem;
    width: 60px;
    height: 34px;
}

#switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider.round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--accent3-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    border: solid 1px var(--primary-color);
}

.slider.round::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: var(--accent1-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background: var(--primary-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--primary-color);
}

input:checked+.slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateY(26px);
    transform: translateX(26px);
}

#hero {
    display: block;
    height: auto;
    margin-top: -330px;
}

#hero-box {
    z-index: -1;
}

#hero-img {
    width: 100%;
}

header {
    display: flex;
    background: var(--primary-color);
    margin-top: 70px;
    align-items: center;
    justify-content: space-between;
    opacity: 0.9;
}

#logo,
#footer-logo {
    display: flex;
    background: var(--accent3-color);
    font-family: var(--primary-font);
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    flex-direction: column;
}

#logo img,
#footer-logo img {
    width: 50%;
    padding: 0px 10px;
}

#name,
#footer-name {
    padding: 10px;
    font-size: small;
}

#name h1,
#name h2,
#footer-name h1,
#footer-name h2 {
    margin: 0px;
}

#buttons {
    justify-self: right;
}

.button {
    display: flex;
    flex-direction: column;
    font-family: var(--teriary-font);
    font-size: large;
    margin: 20px;
    padding: 20px;
    background: var(--accent1-color);
    color: var(--accent3-color);
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background: var(--secondary-color);
    color: #000;
}

#menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent2-color);
}

#menu {
    font-size: 2rem;
    border: none;
    background: none;
    color: #000;
    padding: 1rem;
}

#menu.closed::before {
    content: "≡";
    font-weight: bold;
}

#menu::before {
    content: "⨱";
}

.navigation {
    display: flex;
    grid-template-columns: 1fr 3fr 1fr;
    background: var(--accent2-color);
    justify-content: space-evenly;
    margin-top: -5px;
}

.navigation a {
    display: none;
    grid-column: 2/3;
    text-align: center;
    font-family: var(--teriary-font);
    font-size: 18px;
    font-style: italic;
    padding: 2rem;
}

a {
    color: #000;
    text-decoration: none;
}

.navigation a:hover {
    color: var(--secondary-color);
}

.closed a {
    display: block;
}

main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: var(--secondary-font);
}

.event-card {
    grid-column: 1/3;
    width: 90%;
    margin-top: 2rem;
    justify-self: center;
}

.event-card img {
    width: 100%;
}

.event1,
.event2 {
    border: solid var(--accent1-color);
    margin: 3rem;
    padding: 10px 10px 0px 10px;
    background: var(--accent1-color);
    color: var(--accent3-color);
}

.business-card {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 85%;
    margin-top: 3rem;
    justify-self: center;
    flex-wrap: wrap;
}

.business1,
.business2,
.business3,
.business4 {
    border: 10px solid var(--primary-color);
    margin: 2rem;
    padding: 10px;
}

h2,
h3 {
    font-family: var(--primary-font);
}

#map {
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 40px;
    padding-bottom: 20px;
    width: 60%;
    justify-self: center;
    text-align: center;
    background: var(--accent2-color);
}

iframe {
    border: 1px solid;
    border-radius: 10px;
    width: 90%;
}

#info {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#social {
    grid-column: 1/2;
    width: 60%;
    background: var(--secondary-color);
}

#weather {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 80%;
    background: var(--accent1-color);
    color: var(--accent3-color);
}

#social,
#weather {
    justify-self: center;
    text-align: center;
    margin: 40px;
}

#weather h3 {
    grid-column: 1/3;
}

#weather img {
    width: 90%;
    grid-row: 2/8;
    padding: 0px 20px 20px 20px;
}

/* #weather-icon {
    width: 100px;
    height: 100px;
} */

#weather p {
    grid-column: 2/3;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto;
    background: var(--primary-color);
}

footer p {
    color: var(--accent3-color);
    padding: 2rem;
    font-family: var(--secondary-font);
}

#contact,
#address {
    justify-self: center;
    align-self: center;
}

#project-info {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}

#project-info p {
    padding: 0;
}

.copyright {
    grid-column: 1/2;
}

.author {
    grid-column: 2/3;
}

.project {
    grid-column: 3/4;
}

.lastModified {
    grid-column: 4/5;
}

/* picture {
    width: 100%;
}

.hero-temp-text::after {
    content: "Small";
    position: absolute;
    top: 400px;
    left: 100px;
    font-size: 2rem;
    padding: 20px;
    background: var(--primary-color);
    color: var(--secondary-color);
} */


/* Discover Page */
#sidebar-content {
    grid-row: 1/2;
    justify-self: center;
    padding-top: 1rem;
    width: 90%;
}

#main-content {
    padding-top: 2rem;
    text-align: center;
}

#main-content img {
    width: 80%;
    margin-top: 1rem;
    border-radius: 5%;
}

.demographic-card,
.attractions-card,
.calendar-card,
.visits-card {
    border: solid 1rem var(--accent1-color);
    border-radius: 2rem;
    margin-top: 2rem;
}

.demographic-card h2,
.attractions-card h2,
.calendar-card h2,
.visits-card h2 {
    background: var(--secondary-color);
    padding: 1rem;
    margin: 0;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.demographic-card p,
.attractions-card p,
.calendar-card p,
.visits-card p {
    padding-left: 2rem;
    padding-right: 2rem;
}

h4 {
    font-family: var(--primary-font);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0;
}

.calendar-card p {
    margin-top: 5px;
}


/* Join Page */
#join-main {
    margin: 2rem;
}

#join-main h1 {
    grid-column: 1/3;
    text-align: center;
    font-family: var(--primary-font);
}

#member-levels {
    grid-column: 1/3;
}

#member-levels h2 {
    text-align: center;
}

.levelnp,
.levelb,
.levels,
.levelg {
    border: 2px dashed var(--accent1-color);
    border-radius: 1rem;
    margin: .5rem 0;
}

.levelnp h3,
.levelb h3,
.levels h3,
.levelg h3 {
    background: var(--accent2-color);
    padding-left: 1rem;
    margin: 10px 5px 0 5px;
    border-radius: 50px;
}

.levelnp p,
.levelb p,
.levels p,
.levelg p {
    padding: 0 .5rem;
}

#jform {
    grid-column: 1/3;
}

.join h6 {
    text-align: right;
    margin: 0 10% 0 10%;
    padding: 5px 10% 5px 0;
    font-size: .8rem;
    color: var(--secondary-color);
    background: var(--primary-color);
    border-radius: 1rem;
}

.join fieldset {
    border: 2px solid var(--primary-color);
    margin-bottom: 1rem;
}

.join legend {
    padding: 0 .75rem;
    font-family: var(--primary-font);
}

.join label {
    display: block;
    padding-top: 1rem;
}

.join div {
    padding-top: 1rem;

}

.join input[type="text"],
.join input[type="email"],
.join input[type="tel"],
.join textarea {
    display: block;
    border: 1px solid;
    border-radius: 5px;
    padding: .8rem;
    color: var(--primary-color);
    width: 90%;
    max-width: 500px;
}

.join input[type="radio"] {
    margin-right: 5px;
    accent-color: var(--accent1-color);
}

.join input:required {
    border-top: 8px solid var(--secondary-color);
}

.join input:required:valid {
    border-top: 8px solid var(--accent2-color);
}

.join button {
    padding: 1rem 2rem;
    margin: 0 10% 0 10%;
    width: 80%;
    max-width: 500px;
    font-family: var(--teriary-font);
    font-size: 1rem;
    background: var(--accent3-color);
    color: var(--accent2-color);
    border: 3px dashed var(--accent2-color);
    border-radius: 5px;
}

.join button:hover {
    background: var(--accent1-color);
    box-shadow: 0 10px 20px #000;
}