:root.dark {
    --background-color: #000;
    --primary-color: #226452;
    --secondary-color: #FCDF89;
    --accent1-color: #794348;
    --accent2-color: #78C092;
    --text-color: #DFE3E2;
}

body.dark {
    background: #000;
    color: var(--text-color);
}

#social.dark {
    color: #000;
}