@media screen and (min-width:1000px) {
    :root {
        /* fonts */
        --primary-font: "Alegreya Sans SC", sans-serif;
        --secondary-font: "Mohave", sans-serif;
        --teriary-font: "Kurale", serif;

        /* colors */
        --primary-color: #226452;
        --secondary-color: #FCDF89;
        --accent1-color: #794348;
        --accent2-color: #78C092;
        --accent3-color: #DFE3E2;
    }

    header {
        display: grid;
        grid-template-columns: 440px auto;
    }

    #logo {
        flex-direction: unset;
        width: 360px;
    }

    #name {
        align-self: flex-end;
        margin-left: -50px;
    }

    #menu {
        display: none;
    }

    .button {
        font-size: x-large;
    }

    .navigation {
        display: flex;
        justify-content: space-evenly;
        background: var(--accent2-color);
        padding: 15px;
    }

    .navigation a {
        display: block;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 1fr auto;
    }

    .event-card {
        grid-column: unset;
        float: left;
    }

    .business-card {
        display: unset;
        grid-column: unset;
        float: right;
    }

    #map {
        grid-row: 2/3;
    }
}